<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styleland.css')}}">
	<link rel="stylesheet" type="text/css" href="style.css">
	<title>Myworkspace</title>
</head>
<body>

	<div class="load">
		<hr/><hr/><hr/><hr/>
	  </div>
<!--
		<div class="dots-container">
			<div class="dots"></div>
			<div class="dots"></div>
			<div class="dots"></div>
			<div class="dots"></div>
			<div class="dots"></div><br>
			<a href="/userlogin"><h4 style="background-color:#00008B;  border-radius:7px; border:none; color:#fff;  width:100px; margin:auto; margin-top:20px; text-decoration:none; padding:10px;">Welcome</h4></a>
		  </div>-->
	 
	 <!-- <span class="loader"><span class="loader-inner"></span></span>-->
	<!--<div class="wrapper" style="margin-top:20px;">
		<div class="typing-demo">
		Welcome to <span >Myworkspace</span>
		</div>
	</div>-->
	<!--
	<div id=container>
		 
		<div id=flip>
		  <div><div>workspace</div></div>
		  <div><div>to</div></div>
		  <div><div>welcome</div></div>
		</div>
		
		
	  </div>-->
	  
	  <a href="/userlogin"><p>myworkspace</p></a>
	
</body>
</html>