{% extends 'userlayout.html' %}

{% block div %}
<div class="container" style=" border-radius:10px 0 0 150px; padding: 20px; background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(84,84,201,1) 0%, rgba(0,212,255,1) 100%);">
  
  <div class="row">
    


  

   
    <div class="ade" style="display: flex; justify-content: space-between;">
         <img src="static/img/memoji.png" alt=""style="width:190px; height:180px;"  >
        
     
         <a href="" style="text-decoration: none; color: #fff; margin-top:60px; margin-right:20px;">
          <h3><b>Fill the <span style="font-size:30px;"> Forms </span><b></h3>
          <h6>to Verify identity.</h6>
        </a>
    </div>
    </div>
    

    <div class="ade" style="display: flex; justify-content: space-between;">
   
<a href="/useryeargroup"> <button class="btn" style="color: #fff; background: #00008B; border: none; width:140px; padding:7px; margin-left: 2vw;" type="submit">Verified</button></a>
        
     
      <a href="" style="text-decoration: none; background-color:#e62626; border-radius:100px; height:40px; width:40px; text-align:center; padding:8px; color: #fff;">
        <h6>+</h6>
      </a>
    </div>
    </div>
    

  </div>
  <br>
 


{% endblock div %}

{% block body %}
      

   
      <p style="text-align:center; margin-top:10px;">Verification</p>
      <div class="container" >
<form action="" method="post">
  <div class="form-group">
    <label for=""></label>

  
    <input type="text" name="indexNumber" id="" class="form-control" placeholder="id" style="border-style: outset; " aria-describedby="helpId">
    
 

  
    <input type="text" name="Name" id="" class="form-control" placeholder="Name" style="border-style: outset; " aria-describedby="helpId">
  
  </div>
  
  
    <input type="text" name="Time" id="" class="form-control" placeholder="Time" style="border-style: outset; " aria-describedby="helpId">
   
  </div>
  
   
  <button type="submit" class="btn btn-primary"  style="text-align:center;  width:150px; padding:10px; border-radius:20px; border:none; margin:auto; color:#fff; background-color:#00008B;">Submit</button></a>
  </div>
</form>  
<div>
  <!-- /Users/kweku/Documents/Projects/Python Projects/qrcodeteest/static/img/ -->
  <!-- <img src="url_for('static', filename='img/qrcode.png')" style=" width:100%"  srcset=""> -->
<!--  <img src="../static/img/qrcode.png" style="width:100%; object-fit: fill;"  srcset="">-->
  <!-- href="{{ url_for('static', filename='bootstrap/bootstrap.min.css') }}"> -->
</div>
    </div>

    {%endblock body%}